VITE_NAVER_MAP_CLIENT_ID="x4QCsZ8840RLQHqvIys7Fledw6VPuAayw0d0FkBf"
VITE_KAKAO_SDK_JS_KEY="3ac91ada26b0e444475ff5ee7b39bc5e"
VITE_SERVER_URL="http://localhost:3000/wedding-invitation"
VITE_STATIC_ONLY=true
